@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700;900&display=swap');

body {
    background-color: #02182B;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 200px 0px 200px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
}

header {
    margin-bottom: 30px;
    text-align: center;
    color: #F1FAEE;
    display: flex;
    justify-content: center;
    gap: 35px;
}

#rock:hover {
    color: #D7263D;
}

#paper:hover {
    color: #0197f6;
}

#scissors:hover {
    color: #FFBA08;
}

.invert {
    filter: invert(100%);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.battlefield {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding-top: 50px;
}

.player-icon {
    margin-right: 70px;
}

.computer-icon {
    margin-left: 70px;
}

.options-column > li {
    margin: 50px 0;
}

.options-column {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rock-player:active,
.paper-player:active,
.scissors-player:active {
    transform: rotate(20deg);
}

.rock-player:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(92%) saturate(6053%) hue-rotate(338deg) brightness(86%) contrast(96%);
    
}

.paper-player:hover {
    filter: brightness(0) saturate(100%) invert(45%) sepia(65%) saturate(2828%) hue-rotate(178deg) brightness(97%) contrast(99%);
}

.scissors-player:hover {
    filter: brightness(0) saturate(100%) invert(81%) sepia(74%) saturate(5051%) hue-rotate(354deg) brightness(101%) contrast(100%);
}

.score {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*JS classes */

.game {
    background-color: red;
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}
